@model  List<Operation>
@{ ViewBag.Title = "Liste des Opérations";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["UserName"] = Convert.ToString(Session["fullName"]);
}
@using Multitrans.Models;
<style>

    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        padding-top: 20px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
</style>

<div class="main-container">
    <div class="xs-pd-20-10 pd-ltr-20">

        <div class="page-header">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="title">
                        <h4>Administration</h4>
                    </div>
                    <nav aria-label="breadcrumb" role="navigation">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="index.html">Acceuil</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Liste Opérations
                            </li>
                        </ol>
                    </nav>
                </div>
                <div class="col-md-6 col-sm-12 text-right">
                    <a class="btn btn-primary"
                       style="color:white"
                       onclick=" document.getElementById('mediumModalCreate').style.display = 'block'">
                        Nouvelle opération
                    </a>
                </div>
            </div>
        </div>
          <center> <h4 style="background-color:white;color:red" id="smsB"></h4></center>
            <center> <h4 style="background-color:white;color:green" id="messageB"></h4></center>
        
        <!-- Export Datatable start -->
        <div class="card-box mb-30">
            <div class="pb-20">

                @if (Model.Count < 1)
                {

                    <center>
                        <h2>Aucune opération disponible </h2>
                    </center>
                }
                else
                {
                    <table class="table hover multiple-select-row data-table-export nowrap">
                        <thead>
                            <tr>
                                <th>N° </th>
                                <th>Nom</th>
                                <th>Sens</th>
                                <th>Etat</th>
                                <th class="table-plus datatable-nosort">Actions</th>

                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var patient in Model)
                            {
                                var etat = (patient.status.Value) ? "Activé" : "Désactivé";

                                <tr>
                                    <td class="table-plus">@patient.id</td>
                                    <td>@patient.libelle</td>
                                    <td>@patient.sens</td>
                                    <td>@etat</td>
                                    <td>
                                        <div class="dropdown">
                                            <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
                                               href="#"
                                               role="button"
                                               data-toggle="dropdown">
                                                <i class="dw dw-more"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                                <button class="dropdown-item" onclick="ouvrirDepartementModal(@patient.id)"><i class="dw dw-edit2"></i> Modifier</button>
                                                <button class="dropdown-item" onclick=" bloquageModal(@patient.id)"><i class="dw dw-lock"></i> Bloquer</button>
                                            </div>
                                        </div>

                                    </td>

                                </tr>

                            }


                        </tbody>
                    </table>
                }

            </div>
        </div>
        <!-- Export Datatable End -->

    </div>
</div>

<!-- CREER OPERATION POPUP-->
<div id="mediumModalCreate" class="modal container-fluid ">
    <div class="container" style="width:70%;float:right">
        <div class="row">
            <div class="card" style="width:70%">
                <center> <p style="background-color: white" class="text-warning">Veuillez renseigner les champs</p></center>
                <div class="card-body">
                    <center> <p style="background-color: white; color: red" id="sms"></p></center>
                    <center> <p style="background-color:white;color:green" id="message"></p></center>
                    <div class="row">
                        <div class="col-lg-6 col-xl-6 col-sm-6 col-md-6">
                            <div class="input-group input-group-outline">
                                <label class="text" onchange="hideError()" style="width:100%">Nom <span style="color: red">*</span> </label>
                                <input type="text" id="Name" name="Name" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xl-6 col-sm-6 col-md-6">
                            <div class="input-group input-group-outline">
                                <label class="text" style="width:100%">Sens<span style="color: red">*</span></label>
                                <select name="sens" id="sens" class="form-control" required>
                                    <option value="ENCAISSEMENT">ENCAISSEMENT</option>
                                    <option value="DECAISSEMENT">DECAISSEMENT</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-xl-6 col-sm-6 col-md-6 p-2">
                            <a class="btn btn-primary" onclick="ajouterAgence()" style="color: white; width: 100%"> Enregistrer</a>
                        </div>
                        <div class="col-lg-6 col-xl-6 col-sm-6 col-md-6 p-2">
                            <a class="btn btn-primary" onclick=" document.getElementById('mediumModalCreate').style.display = 'none'" style="color: white; width: 100% ">Fermer</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input id="departementID" name="departementID" type="text" class="form-control" hidden>

<!-- END CREER PERSONNEL POPUP-->
<!-- MODIFIER PERSONNEL POPUP-->
<div id="mediumModalModify" class="modal container-fluid ">
    <div class="container" style="width:70%;float:right">
        <div class="row">
            <div class="card" style="width:70%">
                <center> <p style="background-color: white" class="text-warning">Veuillez renseigner les champs</p></center>
                <div class="card-body">
                    <center>
                        <p id="messadeAjouterDepartementM" style="color: green"></p>
                        <p id="smsAjouterDepartementM" style="color:red"></p>
                    </center>
                    <div class="row">
                        <div class="col-lg-6 col-xl-6 col-sm-6 col-md-6">
                            <div class="input-group input-group-outline">
                                <label class="text" style="width:100%">Nom <span style="color: red">*</span> </label>
                                <input type="text" id="nomM" name="nomM" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xl-6 col-sm-6 col-md-6">
                            <div class="input-group input-group-outline">
                                <label class="text" style="width:100%">Sens<span style="color: red">*</span></label>
                                <select name="sensM" id="sensM" class="form-control" required>
                                    <option value="ENCAISSEMENT">ENCAISSEMENT</option>
                                    <option value="DECAISSEMENT">DECAISSEMENT</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-xl-6 col-sm-6 col-md-6 p-2">
                            <a class="btn btn-primary" onclick="modifierDepartement()" style="color: white; width: 100%"> Enregistrer</a>
                        </div>
                        <div class="col-lg-6 col-xl-6 col-sm-6 col-md-6 p-2">
                            <a class="btn btn-primary" onclick=" document.getElementById('mediumModalModify').style.display = 'none';window.location.reload()" style="color: white; width: 100% ">Fermer</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- END MODIFIER PERSONNEL POPUP-->
<!-- BLOQUER PERSONNEL POPUP-->
<div id="bloquageModal" class="modal container-fluid " style="padding:15%">
    <div class="container-fluid" style="width: 50%;">
        <div class="row" style="margin-bottom:50%">
            <div class="card p-4">
                <center> <p style="background-color: white; color: red">Voulez-vous changer le statut cette opération ?</p></center>
                <div class="card-body">

                    <input type="text" class="form-control" id="departementID" name="departementID" hidden />
                    <div class="row">
                        <div class="col-lg-6 col-xl-6 col-sm-6 col-md-6">
                            <a class="btn btn-primary" onclick="bloquerDepartement()" style="color: white; width: 100%"> Oui</a>
                        </div>
                        <div class="col-lg-6 col-xl-6 col-sm-6 col-md-6">
                            <a class="btn btn-primary" onclick=" document.getElementById('bloquageModal').style.display = 'none'" style="color: white; width: 100% ">Non</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MODIFIER PERSONNEL POPUP-->

<script>

   
    function ajouterAgence()
    {
        document.getElementById("message").innerText = null
        document.getElementById("sms").innerText = null
         $.post('@Url.Action("AjouterOperation")',
            {
                libelle: document.getElementById('Name').value,
                sens: document.getElementById('sens').value


            },
            function (rep)
            {
                if (rep.code == 200)
                {
                    document.getElementById("message").innerText = rep.message;
                    document.getElementById("sms").innerText = null
                    setTimeout(() => { document.getElementById('mediumModalCreate').style.display = 'none'; window.location.reload() }, 1000);
                }
                else
                {
                    document.getElementById("sms").innerText = rep.message ;
                    document.getElementById("message").innerText = null

                }



            }).fail(function (xhr, status, error) {
                document.getElementById("sms").innerText = " une erreur interne est survenue ";
                document.getElementById("message").innerText = null

            });



    }
    function modifierDepartement()
    {
        document.getElementById("messadeAjouterDepartementM").innerText = null
        document.getElementById("smsAjouterDepartementM").innerText = null
         $.post('@Url.Action("ajouterOperation")',
            {

                libelle: document.getElementById('nomM').value,
                sens: document.getElementById('sensM').value,
                id: document.getElementById('departementID').value

            },
            function (rep)
            {
                if (rep.code == 200)
                {
                    document.getElementById("messadeAjouterDepartementM").innerText = rep.message;
                    document.getElementById("smsAjouterDepartementM").innerText = null
                    setTimeout(() => { document.getElementById('mediumModalModify').style.display = 'none'; window.location.reload() }, 1000);
                }
                else
                {
                    document.getElementById("smsAjouterDepartementM").innerText = rep.message ;
                    document.getElementById("messadeAjouterDepartementM").innerText = null

                }



            }).fail(function (xhr, status, error) {
                document.getElementById("smsAjouterDepartementM").innerText = " une erreur interne est survenue";
                document.getElementById("messadeAjouterDepartementM").innerText = null

            });



    }
    function ouvrirDepartementModal(departementID)
    {
        document.getElementById("messadeAjouterDepartementM").innerText = null
        document.getElementById("smsAjouterDepartementM").innerText = null

        var departements = @Html.Raw(Json.Encode(Model));
        var departement = departements.filter(e => e.id == departementID)[0];

        document.getElementById('departementID').value = departementID
        document.getElementById('nomM').value = departement.libelle,
         document.getElementById('sensM').value = departement.sens,

            document.getElementById('mediumModalModify').style.display = 'block'




     }
    function bloquageModal(departementID)
    {
        document.getElementById('bloquageModal').style.display = 'block'
        document.getElementById('departementID').value = departementID



    }
    function bloquerDepartement()
    {
        document.getElementById("messageB").innerText = null
        document.getElementById("smsB").innerText = null

               $.post('@Url.Action("desactiverOperation")',

                {
                    No: document.getElementById('departementID').value
                },
            function (rep)
            {
                if (rep.code == 200)
                {

                    document.getElementById("messageB").innerText = rep.message;
                    document.getElementById("smsB").innerText = null
                    window.location.reload()
                }
                else
                {
                    document.getElementById("smsB").innerText = rep.message;
                    document.getElementById("messageB").innerText = null
                }
            }
            ).fail(function (xhr, status, error)
            {
                                //Ajax request failed.
                document.getElementById("smsB").innerText = " une erreur interne est survenue coté client";
                document.getElementById("messageB").innerText = null

            });
    }


</script>